#main{
    width: 100%;
}

/******************** content ********************/
#content{
    width: 1000px;
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

.s3bg{
    background-color: silver;
    border-radius: 20px 20px;
    overflow: hidden;
}

.cancelBtn{
    background-color: #c30000;
    position: relative;
    left: 650px;
    float: left;
}

.compareBtn{
    background-color: #1b7ee2;
    position: relative;
    float: left;
    left: 650px;
}

#addcourse_id{
    width: 100px;
}

/*End*/
