*{
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

html,body{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.x-body {
    font-size: 15px;
}

ul{
    list-style: none;
    cursor: pointer;
}

.clear{
    clear: both;
}

#wrap{
    width: 100%;
    min-height:100% ;
}

#header{
    height: 80px;
    background-color: #8ab8da;
}
#header p {
    padding-top: 28px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

/**********************************************************************************
***************************** main ************************************************
**********************************************************************************/
#main{
    width: 100%;
}

/******************** left ********************/
#nav {
    position: fixed;
    width: 190px;
    height: 100%;
    overflow: hidden;
}
#first {
    margin-left: 55px;
    margin-top: 10px;
}

.first-tips{
    display: block;
    margin-left: 60px;
    padding-top: 15px;
    font-size: 15px;
    width: 100px;
    font-family: '微软雅黑';
}

#a_btn {
    width: 60px;
    height: 60px;
    background-image: url('../images/buttons.png');
    background-repeat: no-repeat;
    background-position: -4px -5px;
}

#b_btn {
    width: 60px;
    height: 60px;
    background-image: url('../images/buttons.png');
    background-repeat: no-repeat;
    background-position: -4px -66px;
}

#c_btn {
    width: 60px;
    height: 60px;
    background-image: url('../images/buttons.png');
    background-repeat: no-repeat;
    background-position: -4px -127px;
}

#second {
    display: none;
    position: relative;
    left: 55px;
    top: -180px;
}

.second-nav {
    width: 60px;
    height: 60px;
    background-image: url('../images/buttons.png');
    background-repeat: no-repeat;
}

.second-tips{
    display: block;
    margin-left: 60px;
    padding-top: 15px;
    font-size: 15px;
    width: 100px;
    font-family: '微软雅黑';
}

.chapter_btn {
    background-position: -66px -5px;
}

.nav-list{
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 35px;
}

/******************** content ********************/
#content{
    width: 1000px;
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

#section1{

}


#addcourse_id{
    width: 100px;
}

#footer{
    width: 100%;
    background-color: cadetblue;
    margin-top: 40px;
}
#footer p {
    color: #fff;
    font-size: 5em;
    text-align: center;
}

/***************************重写通用表格样式**********************************************/
.x-panel{
    margin: 10px 0px 15px 0px;
}

.x-column-header-inner {
    background-color: #3399CC;
    color: #FFFFFF;
    font-size: 15px;
}

.x-grid-cell-inner {
    font-size: 15px;
}

.x-header-text {
    font-size: 20px;
}
/*End*/
