/**********************************************************************************
***************************** main ************************************************
**********************************************************************************/
#main{
    width: 100%;
}

/******************** content ********************/
#content{
    width: 1000px;
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

#section3{
    min-height: 250px;
}

#addcourse_id{
    width: 100px;
}

/*End*/
