html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.jumbotron{
    background-color: #e7e7e7;
}

.margin-0 {
    margin: 0;
}

.margin-20-0 {
    margin: 20px 0;
}

.font-normal{
    color: cadetblue;
}

.bg-color-main{
    background-color: #8ab8da;
}

.block-center {
    display: table;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-0 {
    padding: 0;
}

a:hover,
a:focus,
a {
    cursor: pointer;
    text-decoration: none;
    color: #06283d;
}