doctype 5
html
	block head
	block body
	div#header
		nav(class="container navbar navbar-default",role="navigation")
			div(class="navbar-header")
				button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				img(src="images/logo.png",style="margin: 10px 10px 0 0")
			div#bs-example-navbar-collapse-1(class="collapse navbar-collapse")
				ul(class="nav navbar-nav")
					li(class="active")
						a(href="#") 首页
					li
						a(href="#") 入门
					li
						a(href="#") 关于我们
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="#") 登陆
					li
						a(href="#") 注册
	block content
	block footer
